<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="bookings-page.component.css">
  <title>Bookings</title>
</head>

<body>


  <div class="container-fluid">
    <div class="row text-warning">
      <div class="col-4">
        <div class="margentop margenbottom">

          <div class="card" style="width: 18rem;">
            <div class="card-body ">
              <h5 class="card-title">Nombre</h5>
              <h6 class="card-subtitle mb-2 text-muted">@cliente</h6>
              <p class="card-text">Producto listo para recogida</p>
              <p class="card-text">Reserva atendida</p>

              <a href="#" class="card-link">Home</a>
              <a href="#" class="card-link">Perfil</a>
            </div>
          </div>

          






   
           

            

        </div>
      </div>
    </div>
  </div>







</body>

</html>
