<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="uploadproducts-page.component.css">
  <title>Home</title>
</head>

<body>

  <div class="margentop">
  <div class="container">
    <div class="row text-danger">
      <div class="col-sm">
        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="nombreVino" placeholder="Nombre del vino">
        </div>
      </div>
      <div class="col-sm"></div>
      <div class="col-sm"></div>
    </div>
  </div>
  </div>

   <div class="container">
    <div class="row text-danger">
      <div class="col-sm">
        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">D.O.</label>
          <input type="text" class="form-control" id="nombreDenominacion" placeholder="Denominación de Origen">
        </div>
      </div>
      <div class="col-sm"></div>
      <div class="col-sm"></div>
    </div>
  </div>
  

  <div class="container">
    <div class="row text-danger">
      <div class="col-sm">
        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">Uva</label>
          <input type="text" class="form-control" id="tipoUva" placeholder="Tipo de Uva">
        </div>
      </div>
      <div class="col-sm"></div>
      <div class="col-sm"></div>
    </div>
  </div>

  <div class="container">
    <div class="row text-danger">
      <div class="col-sm">
        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">Vino</label>
          <input type="text" class="form-control" id="tipoVino" placeholder="Tinto,blanco,rosado,espumoso">
        </div>
      </div>
      <div class="col-sm"></div>
      <div class="col-sm"></div>
    </div>
  </div>

  <div class="container">
    <div class="row text-danger">
      <div class="col-sm">
        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">Ubicación</label>
          <input type="text" class="form-control" id="ubicacion" placeholder="Ciudad,población,código postal">
        </div>
      </div>
      <div class="col-sm"></div>
      <div class="col-sm"></div>
    </div>
  </div>

  <div class="container">
    <div class="row text-danger">
      <div class="col-sm">
        <div class="mb-3">
         
          <button type="button" class="btn btn-danger btn-lg btn-block">Buscar</button>
        </div>
      </div>
      <div class="col-sm"></div>
      <div class="col-sm"></div>
    </div>
  </div>

</body>

</html>
