body {
    background-image: url("../../../assets/imgloginestablishment.jpg");
    background-size: cover;
  }
  
  .margentop {
  margin-top: 20%;
  }
  
  .margenbottom {
  margin-bottom: 20%;
  }
  
  