<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="registry-establishment-page.component.css">
  <title>Loginestablishment</title>
</head>

<body>

  <div class="container-fluid">
    <div class="row text-warning">
      <div class="col-4">
        <div class="margentop">

          <form>
            <div class="form-group">
              <label for="formGroupExampleInput">Nombre Establecimiento</label>
              <input type="text" class="form-control" id="nombreEstablecimiento" placeholder="Nombre establecimiento">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">Movil</label>
              <input type="text" class="form-control" id="movil" placeholder="000-000-000">
            </div>

            <div class="form-group">
              <label for="formGroupExampleInput2">Mail</label>
              <input type="text" class="form-control" id="mail" placeholder="mail@mail.com">
            </div>

            <div class="form-group">
              <label for="formGroupExampleInput2">Passwordl</label>
              <input type="text" class="form-control" id="password" placeholder="PassW0rd">
            </div>


          </form>
           
            <div class="margenbottom">
              <button type="submit" class="btn btn-primary"> Entrar</button>
            </div>
        
          
          
           
          

        </div>
      </div>
    </div>
  </div>

</body>

</html>
