<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="profile-establishment-page.component.css">
  <title>LoginUser</title>
</head>

<body>
 

  <div class="container-fluid">
    <div class="row text-warning">
      <div class="col-4">
        <div class="margentop">
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">
                <h5>@Email</h5>
                </label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">
                <h5>Password</h5>
                </label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div>
            <!-- <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div> -->
            <div class="botonLetra">
              <a href="#" class="navbar-brand text-warning">
                Contraseña
              </a>
              <a href="#" class="navbar-brand text-warning">
                Crear cuenta
              </a>
            </div>
            </div>

            <div class="botonSubmit">
              <button type="submit" class="btn btn-warning">Entrar</button>
            </div>
            <div class="margenbottom"></div>


          </form>

        </div>
      </div>
    </div>
  </div>







</body>

</html>
